/* contenedor general del contenido de la pagina (dependiendo de la seccion elegida) */
#contenido_contenedor{
  position: relative;
  height: 100%;
  width: 100%;
  top: 75px;
  z-index: -100;
}

@media (min-width: 783px) {
  #contenido_contenedor{
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 450px) AND (max-width: 782px) {
  #contenido_contenedor{
    top: 65px;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 255px) AND (max-width: 450px) {
  #contenido_contenedor{
    height: 100%;
    width: 100%;
    top: 50px;
  }
}

@media (max-width: 255px) {
  #contenido_contenedor{
    height: 100%;
    width: 100%;
    top: 45px;
  }
}