/* contenedor general de la seccion */
#contacto_container {
  height: 100%;
  width: 100%;
}

#fondo_contenedor {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* fondo de la seccion contactos */
#fondo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* contenedor de la info de contacto */
#info_container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.info_seccion {
  min-height: 10vh;
  max-width: 80vw;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333333cb;
}

/* etiqueta de la info */
.etiqueta {
  margin-bottom: 5px;
  text-decoration: underline overline;
  font-size: 17px;
  font-weight: bold;
}

/* datos de la info */
.datos {
  font-style: italic;
  font-size: 14px;
}

.etiqueta, .datos, .datos {
  color: #f5f5f5;
}

/* contenedor de los logos de asociaciones civiles de la carne */
#logos_container {
  z-index: 1000;
  display: grid;
  grid-template-columns: 40% 60%;
  max-height: 200px;
  max-width: 80vw;
}

/* contenedor individual*/
.logo_container {
  max-height: 180px;
  max-width: 80vw;
}

/* logo de la sociedad rural */
#sra_logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* logo de la ipcva */
#ipcva_logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


@media (max-width: 488px){
  .etiqueta {
    font-size: 15px;
  }

  .datos {
    font-size: 12px;
  } 
}

@media (max-width: 255px) {
  .etiqueta {
    font-size: 14px;
  }

  .datos {
    font-size: 11px;
  }
}





