/* contenedor general de la seccion */
#contacto_container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/* fondo de la seccion contactos */
#fondo {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

/* contenedor de la info de contacto */
#info_container {
  position: absolute;
  display: grid;
  grid-template-rows: 14% 30% 14% 30%;
  gap: 10px;
  width: calc(100vw - 20px);
  height: 70vh;
  padding: 10px;
  padding-right: 0;
  margin-top: 10px;
}

.info_seccion {
  display: grid;
  grid-template-rows: 20px calc(100% - 20px);
  background-color: rgba(0, 0, 0, 0.356);
  border-radius: 7px;
  padding-left: 10px;
  opacity: 0;
}

/* etiqueta de la info */
.etiqueta {
  text-decoration: underline solid;
  font-weight: bold;
}

/* datos de la info */
.datos {
  align-self: center;
}

.etiqueta, .datos, .datos div {
  color: #cccccc;
  font-size: 18px;
  font-family: 'Cormorant Upright', serif;
  font-weight: lighter;
}

/* contenedor de los logos de asociaciones civiles de la carne */
#logos_container {
  width: 35%;
  height: 150px;
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  top: 75%;
  align-items: center;
  justify-items: center;
  margin-left: 20px;
  background-color: white;
  opacity: .5;
  overflow: hidden;
  border-radius: 5px;
}

/* logo de la sociedad rural */
#sra_logo {
  height: 100px;
  width: 100px;
  color: black;
  z-index: 100;
}

/* logo de la ipcva */
#ipcva_logo {
  width: 220px;
  height: 100px;
  z-index: -100;
}


@media (max-width: 782px) AND (min-width: 488px){
  #fondo {
    object-fit: cover;
  }

  .etiqueta, .datos, .datos div{
    font-size: 16px;
  }
  
  #logos_container {
    width: 60%;
    top: 76%;
  }
  
}

@media (min-width: 288px) AND (max-width: 488px) {
  #fondo {
    object-fit: cover;
  }

  .etiqueta, .datos, .datos div{
    font-size: 15px;
  }

  #logos_container {
    height: 125px;
    width: 80%;
    top: 78%;
  }
}

@media (max-width: 288px) {
  
  #fondo {
    object-fit: cover;
    width: 100%;
  }

  .etiqueta, .datos, .datos div{
    font-size: 13px;
  }

  #info_container {
    grid-template-rows: 14% 30% 14% 50%;
    padding-left: 0;
    padding-right: 0;
  }

  .info_seccion {
    padding-left: 2px;
    width: 100%;
  }

  #logos_container {
    height: 90px;
    width: 90%;
    margin-left: 5px;
    top: 84%;
  }

  #sra_logo {
    width: 65px;
    height: 65px;
  }

  #ipcva_logo {
    height: 75px;
    width: 200px;
  }
}



