* {
  user-select: none;
}

/* navbar general */
#navbar{
  position: fixed;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-items: center;
  height: 75px;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.767);
  color: #333333;
}

/* #94C46B */
/* boton desplegable */

#navbar_items_boton{
  height: 25px;
  width: 25px;
  margin: 10px;
  cursor: pointer;
  transition-duration: .3s;
}

#navbar_items_boton:hover{
  transform: scale(110%);
}


/* logo */

#logo_container{
  position: relative;
  display: grid;
  width: 150px;
  background-size: 120%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 40% 60%;
  background-color: #D62727;
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
}

#logo{
  color: rgb(255, 255, 255);
  background-color: rgb(10, 85, 8);
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

#marca{
  color: #f5f5f5;
  text-align: left;
  text-shadow: 2px 2px 2px rgb(61, 61, 61), -2px 2px 2px rgb(61, 61, 61), 2px -2px 2px rgb(61, 61, 61), -2px -2px 2px rgb(61, 61, 61);
  font-family: 'Lobster Two', cursive;
  line-height: .9;
  font-size: 20px;
}


/* items del navbar */

#navbar_item_container{
  display: grid;
  gap: 20px;
  margin-left: 10px;
  grid-template-columns: 33% 33% 33%;
  max-width: 783px;
  text-align: center;
  align-items: center;
  justify-self: start;
  cursor: pointer;
}

.navbar_item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 7px;
  border-color: transparent;
  user-select: none;
}

.navbar_item:hover{
  transition-duration: .3s;
  border-radius: 5%;
  box-sizing: border-box;
  font-weight: bold;
  background-color: #006400;
  color: #f5f5f5;
}

/* boton de inicio de sesion*/
#iniciar_sesion{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  max-width: 135px;
  background-color: #f5f5f5;
  color: #006400;
  border: 1px solid #006400;
  justify-self: end;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 5px;
  cursor: pointer;
}

#iniciar_sesion:hover {
  background-color: #006400;
  color: #f5f5f5;
}


/* perfil/carrito */

#perfil_container{
  display: grid;
  height: 60%;
  width: 80%;
  max-width: 135px;
  grid-template-columns: 30% 70%;
  gap: 5px;
  justify-self: end;
  margin-right: 20px;
}

#carr_logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid #8B0000;
  color:#8B0000;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: .2s;
  box-sizing: border-box;
}

#carr_logo{
  height: 30px;
  width: 30px;
}

#carr_logo_container:hover {
  background-color: #8B0000;
  color: #f5f5f5;
}

#perfil{
  background-color: #f5f5f5;
  color:#8B0000;
  border-radius: 5px;
  border: 1px solid #8B0000;
}

#perfil_icono {
  height: 30px;
  width: 35px;
}

#perfil:hover {
  background-color: #8B0000;
  color: #f5f5f5;
}

#perfil{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

/* logo de los items del menu desplegable */
.item_logo{
  height: 50%;
}


/* efecto de boton de inicio de sesion/perfil/carrito */

#iniciar_sesion:hover, #perfil:hover, #carr_logo_container:hover{
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition-duration: .3s;
}


/* media queries */

@media (min-width: 783px) AND (max-width: 1096px){

  #navbar_item_container_movil{
    display: none;
    color: #333333;
  }

  #navbar{
    grid-template-columns: 20% 60% 20%;
  }

  #navbar_items_boton{
    display: none;
  }

  #logo_container{
    margin-left: 10px;
  }

  #iniciar_sesion {
    font-size: 15px;
  }

  #perfil_icono {
    height: 30px;
    width: 35px;
  }
}

@media (min-width: 450px) AND (max-width: 782px){
  /* navbar */
  #navbar{
    grid-template-columns: 13% 53% 33%;
    height: 65px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.767);
  }
  /* contenedor de items del navbar */
  #navbar_item_container{
    display: none
  }
  /* contenedor de items del navbar desplegable */
  #navbar_item_container_movil{
    height: 120px;
    width: 100%;
    background-color:  #f5f5f5;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: none;
    grid-template-rows: repeat(3, 33%);
    z-index: -10;
    top: 65px;
    color: #333333;
  }

  #perfil_icono {
    height: 27px;
    width: 32px;
  }

  /* items del contenedor desplegable */
  .navbar-item_movil {
    background-color:  #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;
    text-align: center;
    cursor: pointer;
  }

  .navbar-item_movil:hover{
    background-color: #006400;
    color: #f5f5f5;
  }
}

@media (max-width: 450px) AND (min-width: 255px) {
  /* navbar */
  #navbar{
    grid-template-columns: 15% 44% 37%;
    height: 50px;
  }
  /* boton para items del contenedor desplegable */
  #navbar_items_boton{
    height: 15px;
    width: 15px;
  }
  /* contenedor de items */
  #navbar_item_container{
    display: none
  }
  /* contenedor de items desplegable */
  #navbar_item_container_movil{
    width: 100%;
    height: 80px;
    background-color:  #f5f5f5;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: none;
    grid-template-rows: repeat(3, 33%);
    box-shadow: 0 2px 5px grey;
    z-index: -10;
    top: 50px;
    color: #333333;
  }
  /* items del contenedor desplegable */
  .navbar-item_movil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:  #f5f5f5;
    user-select: none;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }

  .navbar-item_movil:hover{
    background-color: #006400;
    color: #f5f5f5;
  }

  /* logo */
  #logo_container{
    width: 90px;
    height: 30px;
  }

  #logo{
    width: 30px;
    height: 30px;
  }

  #marca{
    width: 70px;
    font-size: 16px;
  }

  #perfil_container {
    justify-self: end;
    margin-right: 0;
  }

  #perfil_icono {
    height: 20px;
    width: 25px;
  }

  #iniciar_sesion {
    justify-self: end;
    margin-right: 0;
    font-size: 11px;
    height: 30px;
    width: 90px;
  }
}

@media (max-width: 255px) {
  /* navbar */
  #navbar{
    grid-template-columns: 15% 50% 35%;
    height: 45px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.767);
  }
  /* boton para items del contenedor desplegable */
  #navbar_items_boton{
    height: 15px;
    width: 15px;
  }
  /* contenedor de items */
  #navbar_item_container{
    display: none
  }
  /* contenedor de items desplegable */
  #navbar_item_container_movil{
    width: 100%;
    height: 80px;
    background-color:  #f5f5f5;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: none;
    grid-template-rows: repeat(3, 33%);
    box-shadow: 0 2px 5px grey;
    z-index: -10;
    top: 45px;
  }
  /* items del contenedor desplegable */
  .navbar-item_movil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:  #f5f5f5;
    user-select: none;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }

  .navbar-item_movil:hover{
    background-color: #006400;
    color: #f5f5f5;
  }

  /* logo */
  #logo_container{
    width: 60px;
    height: 15px;
  }

  #logo{
    width: 17px;
    height: 17px;
  }

  #marca{
    width: 50px;
    font-size: 10px;
  }

  #iniciar_sesion {
    height: 25px;
    width: 55px;
    font-size: 8px;
    justify-self: end;
    margin-right: 0px;
    text-align: center;
  }

  #perfil_container {
    align-items: center;
    height: 50%;
    width: 90%;
    font-size: 8px;
    gap: 2px;
    justify-self: right;
    margin: 0;
  }

  #perfil, #carr_logo_container {
    font-size: 8px;
    height: 23px;
  }

  #perfil {
    margin-right: 2px;
  }
  
  #perfil_icono {
    height: 15px;
    width: 20px;
  }

}


