/* contenedor del footer */
#pie_container {
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 10% 10% 10%;
  padding-left: 30%;
  justify-items: center;
  height: 25px;
  background-color:  #4c516dcc;
  bottom: 0;
  width: 100%;
  
}

/* icono del footer */
.pie_icono {
  cursor: pointer;
  height: 22px;
  width: 22px;
  color: white;
}

@media (max-width: 450px) {
  #pie_container{
    padding-left: 10%;
    grid-template-columns: 20% 20% 20% 20%;
  }
}