#registroform_fondo {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.685);
}

#registro_contenedor {
  position: relative;
  height: 50vh;
  width: 87vw;
  max-width: 500px;
  padding: 10px;
  padding-top: 5px;
  background-color: #efefef;
  border: 2px solid #333333;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#registro_form {
  display: grid;
  height: 90%;
  width: 100%;
  grid-template-rows: repeat(6, 16.6%);
  grid-template-columns: 50% 50%;
  gap: 5px;
  align-items: center;
}

.registro_campo:nth-child(5) {
  grid-area: 3 / span 2;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

.registro_campo:nth-child(5) label {
  text-align: left;
  padding-left: 10px;
}

.registro_campo {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  height: 55%;
}

.registro_campo label {
  font-size: 12px;
  text-align: center;
}

.registro_campo input {
  height: 70%;
  width: 90%;
  border: 1px solid #333333;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.registro_campo input:focus {
  outline: 1px solid #333333;
}

.registro_campo select {
  height: 25px;
}

#registro_form input[type='submit'] {
  grid-column-start: 2;
  grid-row-start: 5;
  border: 1px solid #333333;
  height: 30px;
  width: 80%;
  max-width: 200px;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  cursor: pointer;
  justify-self: center;
}

#registro_form input[type='submit']:hover {
  background-color: #333333;
  color: white;
}

#err_caja, #exito_msg {
  grid-area: 6 / span 2;
  text-align: center;
  font-size: 12px;
  font-family: 'Pathway Extreme', sans-serif;
}

#err_caja {
  color: #FF0000;
}

#exito_msg {
  color: green;
}

#cerrar_icono {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 30px;
  width: 30px;
  background-color: #333333;
  color: #f5f5f5;
  border-radius: 100%;
  cursor: pointer;
  transition-duration: .3s;
}

#cerrar_icono:hover {
  background-color: #f5f5f5;
  color: #333333;
}

@media (max-width: 575px) {
  #cerrar_icono {
    position: absolute;
    top: -10px;
    right: calc(50% - 20px);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    cursor: pointer;
  }
}

@media (max-width: 422px) {
  #registroform_fondo {
    justify-content: flex-start;
  }

  #registro_contenedor {
    height: 70vh;
    width: calc(100% - 35px);
  }

  #registro_form {
    display: flex;
    flex-direction: column;
  }

  .registro_campo {
    width: 100%;
    grid-template-columns: 20% 80%;
  }

  .registro_campo:nth-child(5) label {
    text-align: left;
    padding: 0;
  }

  .registro_campo input {
    justify-self: end;
    height: 25px;
  }

  .registro_campo select {
    font-size: 9px;
  }

  #registro_form input[type='submit'] {
    border-radius: 3px;
    font-size: 10px;
    width: 90%;
    height: 40%;
  }

  #err_caja, #exito_msg {
    text-align: left;
    font-size: 8px;
    letter-spacing: 80%;
    min-height: 40px;
  }
}

@media (max-width: 255px) {
  
  .registro_campo {
    grid-template-columns: 30% 70%;
  }

  .registro_campo label {
    font-size: 9px;
  }

  #registro_form input[type='submit'] {
    border-radius: 3px;
    font-size: 10px;
    width: 90%;
    background-color: #f5f5f5;
  }

  #err_caja, #exito_msg {
    min-height: unset;
  }
}